/* General Styles */
.heading {
  text-align: center;
  font-size: 2.5rem;
  color: #212529;
  margin-bottom: 2rem;
}

.heading i {
  margin-right: 0.5rem;
  color: #6c757d;
}

.contact {
  min-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 4rem;
  font-style: normal;
  margin-bottom: 3rem;
  
}

.contact .container {
  background: #ecf8f8;
  border-radius: 2.5rem;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.15);
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
 
}

.contact .container .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3.75rem 3rem;
}


.contact .content .image-box {
  max-width: 100%;
  margin-bottom: 2rem;
}

.contact .content .image-box img {
  width: 100%;
  height: auto;
  max-height: 30rem;
}

.contact .content form {
  width: 100%;
  max-width: 31.875rem; /* Largura máxima original */
}

.icon {
  width: auto;
  height: 2.5rem; /* Tamanho original */
}

span {
  font-size: 2.5rem;
  font-weight: 600;
  transition: 0.2s;
}

span:hover {
  color: #8c2f39;
}

.form-group .field {
  height: 3.125rem;
  display: flex;
  position: relative;
  margin: 2rem auto; /* Center the field horizontally */
  width: 100%;
}

form i {
  position: absolute;
  top: 50%;
  left: 1.125rem;
  color: rgb(2, 25, 63);
  font-size: 1.0625rem;
  pointer-events: none;
  transform: translateY(-50%);

  
}

form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 3rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(2, 25, 63);
  background: #fff;
  

}

.field input::placeholder,
.message textarea::placeholder {
  color: rgb(2, 25, 63);

}

.field input:focus,
.message textarea:focus {
  border: 0.0625rem solid;
}

.field input:focus ~ i,
.message textarea:focus ~ i {
  color: #fff;
}

form .message {
  position: relative;
  margin: 0.725rem auto; /* Center the message textarea horizontally */
  width: 100%;
}

form .message i {
  top: 1.5625rem;
  font-size: 1.25rem;
  left: 0.9375rem;
  
}

form .message textarea {
  min-height: 8.125rem;
  max-height: 14.375rem;
  max-width: 100%;
  min-width: 100%;
  padding: 0.90rem 4rem;
 
}

form .message textarea::-webkit-scrollbar {
  width: 0;
}

form .button-area {
  display: flex;
  justify-content: flex-end;
  margin-top: 3rem;
}

.button-area button {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 4em;
  transition: 0.5s;
  background: #212529;
  box-shadow: 0px 5px 18px #212529;
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
}

.button-area button:hover {
  background: #6c757d;
}

.button-area span {
  font-size: 1.0625rem;
  padding: 0.625rem;
  display: none;
}

.button-area button i {
  position: relative;
  top: 0.375rem;
  left: 0.125rem;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #fff;
}

.button-area button:hover i {
  left: 0.5rem;
}

/* ... (seu código CSS existente) ... */

.contact .content {
  position: relative; /* Adiciona posição relativa para que a mensagem de sucesso seja posicionada de acordo com isso */
}

.contact .success-message {
  position: absolute;
  top: 100%; /* Posiciona a mensagem abaixo do conteúdo */
  left: 50%; /* Centraliza na horizontal */
  transform: translate(-50%, 0);
  width: 100%;
  text-align: center;
  padding: 2rem 0; /* Reduzi o espaçamento para 2rem */
  box-sizing: border-box;
}

.contact .success-content {
  border-radius: 2.5rem;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.15);
  padding: 2rem;
  color: rgb(2, 25, 63);
}
.success-image img {
  max-width: 10rem; /* Ajuste o valor conforme necessário para o tamanho desejado em rem */
  max-height: 7rem; /* Ajuste o valor conforme necessário para o tamanho desejado em rem */
  display: block;
  margin: 0 auto;
}

/* ... (seu código CSS existente) ... */


@media (max-width: 450px) {
  .contact .container {
    max-width: 100%; /* Ajuste o valor conforme desejado para uma largura menor */
    margin-left: auto;
    margin-right: auto;
    padding: 1rem; /* Ajusta o padding para melhor alinhamento */
  }

  .contact .content .image-box {
    margin-bottom: 5rem; /* Ajusta a margem para melhor espaçamento */
  }

  .contact .content form {
    max-width: 100%;
  }

  .button-area button {
    margin-top: 2rem;
  }

  form .field input,
  form .message textarea {
    padding: 0.5rem 1rem; /* Ajusta o padding para melhor espaçamento */
    font-size: 1rem;
  }

  form i {
    left: 0.5rem;
  }

  form .message i {
    top: 1rem;
    left: 0.5rem;
  }

  .contact .success-message {
    padding: 2rem 0;
    color: rgb(2, 25, 63);
    font-size: 1.5rem; /* Reduzi o espaçamento para 2rem */
  }

  .success-image img {
    max-width: 12rem; /* Ajuste o valor conforme necessário para o tamanho desejado em rem */
    max-height: 12rem; /* Ajuste o valor conforme necessário para o tamanho desejado em rem */
    display: block;
    margin: 0 auto;
  }

  /* ... (seu código CSS existente) ... */
}