.heading {
  text-align: center;
  font-size: 2.5rem;
  color: #212529;
  margin-bottom: 2rem;
}

.heading img {
  margin-right: 0.5rem;
  color: #6c757d;
}

.contact {
  min-height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
  font-style: normal;
}

.contact .container {
  max-width: 70rem;
  width: 100%;
  background: #ecf8f8;
  border-radius: 2.5rem;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.15);
  margin-top: 0rem;
  font-style: normal;
  text-align: center;
  position: relative;
  overflow: hidden; /* Adicione overflow: hidden; */
}

.contact .container .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 3.75rem 3rem;
  position: relative; /* Adiciona posição relativa para posicionar a mensagem de sucesso */
}

.contact .content .image-box {
  max-width: 100%;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center; /* Centraliza a imagem horizontalmente */
  align-items: flex-start; /* Alinha a imagem ao topo */
}

.contact .content .image-box img {
  width: 100%;
  height: auto;
  max-height: 30rem;
}

.contact .content form {
  width: 100%;
  max-width: 31.875rem; /* Largura máxima original */
  margin-right: 0;
}

.icon {
  width: auto;
  height: 2.5rem; /* Tamanho original */
}

span {
  font-size: 2.5rem;
  font-weight: 600;
  transition: 0.2s;
}

span:hover {
  color: #8c2f39;
}

.form-group .field {
  height: 3.125rem;
  display: flex;
  position: relative;
  margin: 0.625rem;
  width: 100%;
}

form i {
  position: absolute;
  top: 50%;
  left: 1.125rem;
  color: rgb(2, 25, 63);
  font-size: 1.0625rem;
  pointer-events: none;
  transform: translateY(-50%);
}

form .field input,
form .message textarea {
  width: 100%;
  height: 100%;
  outline: none;
  padding: 0 1rem 0 3rem;
  font-size: 1rem;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  border: 1px solid rgb(2, 25, 63);
  background: #fff;
}

.field input::placeholder,
.message textarea::placeholder {
  color: rgb(2, 25, 63);
}

.field input:focus,
.message textarea:focus {
  border: 0.0625rem solid;
}

.field input:focus ~ i,
.message textarea:focus ~ i {
  color: #fff;
}

form .message {
  position: relative;
  margin: 0.625rem;
  width: 100%;
}

form .message i {
  top: 1.5625rem;
  font-size: 1.25rem;
  left: 0.9375rem;
}

form .message textarea {
  min-height: 8.125rem;
  max-height: 14.375rem;
  max-width: 100%;
  min-width: 100%;
  padding: 0.75rem 1.25rem 0 3rem;
}

form .message textarea::-webkit-scrollbar {
  width: 0;
}

form .button-area {
  display: flex;
  float: right;
  flex-direction: row-reverse;
}

.button-area button {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 4em;
  transition: 0.5s;
  background: #212529;
  box-shadow: 0px 5px 18px #212529;
  font-weight: 500;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  margin-top: 3rem;
}

.button-area button:hover {
  background: #6c757d;
}

.button-area span {
  font-size: 1.0625rem;
  padding: 0.625rem;
  display: none;
}

.button-area button i {
  position: relative;
  top: 0.375rem;
  left: 0.125rem;
  font-size: 1.5rem;
  transition: 0.3s;
  color: #fff;
}

.button-area button:hover i {
  left: 0.5rem;
}

small {
  color: rgb(2, 25, 63);
}

.success-message {
  color: rgb(2, 25, 63);
  padding: 2rem;
  margin-top: 6rem;
  text-align: justify;
  font-size: 1.5rem;
  bottom: 0; /* Alinha a mensagem de sucesso à parte inferior */
  left: 0;
  right: 0;
  z-index: 0; /* Coloca a mensagem sobreposta à imagem */

  max-width: 70rem;
  width: 100%;
  background: #ecf8f8;
  border-radius: 2.5rem;
  box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.15);
  font-style: normal;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.success-message.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.success-message .image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; /* Ajuste conforme necessário */
}

.success-message .image-box img {
  max-width: 100%;
  max-height: 5rem; /* Ajuste conforme necessário */
  height: auto;
}

.success-message .success-content {
  position: absolute;
  bottom: 1rem; /* Ajuste conforme necessário */
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 450px) {
  .contact .container .content {
    padding: 1rem 4rem 3rem 3rem;
  }

  .contact .content .image-box {
    margin-bottom: 2rem;
  }

  .contact .content form {
    max-width: 100%;
  }

  .button-area button {
    margin-top: 2rem;
  }

  form .field input,
  form .message textarea {
    padding: 0.5rem 3rem;
    font-size: 1rem;
  }

  form i {
    left: 0.5rem;
  }

  form .message i {
    top: 1rem;
    left: 0.5rem;
  }

  .contact .container {
    max-width: 34rem;
    width: 100%;
  }

  .success-message {
    color: rgb(2, 25, 63);
    padding: 2rem;
    border-radius: 5px;
    margin-top: 2.5rem;
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    bottom: 0; /* Alinha a mensagem de sucesso à parte inferior */
    left: 0;
    right: 0;
    z-index: 1; /* Coloca a mensagem sobreposta à imagem */
  }

  .success-message.fade-in {
    animation: fadeIn 1s ease-in-out;
  }

  .success-message .image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem; /* Ajuste conforme necessário */
  }

  .success-message .image-box img {
    max-width: 100%;
    max-height: 5rem; /* Ajuste conforme necessário */
    height: auto;
    margin-bottom: 3rem;
  }

  .success-message .success-content {
    position: absolute;
    bottom: 3rem; /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
  }
}

