<section class="contact" id="contact">
  <h2 class="heading">
    <img class="" src="../../../assets//IconContactMe.png" alt="Descrição da imagem" class="icon">
    <span>Contact Me</span>
  </h2>

  <div class="container">
    <div class="content">
      <div class="image-box">
        <img draggable="false" src="../../../assets/ContacteMe2.svg" alt="">
      </div>
      <form
        *ngIf="!isContactFormSubmitted"
        name="contact"
        [formGroup]="contactForm"
        method="POST"
        (ngSubmit)="onSubmit($event)"
        netlify>
        <!-- This input field is very important to add, at least when we submit the form, making sure Netlify can receive the submission  -->
        <input type="hidden" name="form-name" value="contact" />

        <label for="name">Name</label>
        <div *ngIf="name && name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <small *ngIf="name.errors?.['required']">Name is required</small>
        </div>
        <input id="name" type="text" formControlName="name" required />

        <label for="email">Email</label>
        <div *ngIf="email && email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <small *ngIf="email.errors?.['required']">Email is required</small>
          <small *ngIf="email.errors?.['email']">Enter a valid email address</small>
        </div>
        <input id="email" type="email" formControlName="email" required />

        <label for="phone">Phone</label>
        <div *ngIf="phone && phone.invalid && (phone.dirty || phone.touched)" class="alert alert-danger">
          <small *ngIf="phone.errors?.['required']">Phone is required</small>
        </div>
        <input id="phone" type="tel" formControlName="phone" required />

        <label for="body">Message</label>
        <div *ngIf="body && body.invalid && (body.dirty || body.touched)" class="alert alert-danger">
          <small *ngIf="body.errors?.['required']">Message is required</small>
        </div>
        <textarea id="body" type="text" rows="4" cols="50" formControlName="body" required></textarea>
        <button type="submit" [disabled]="!contactForm.valid">Send message</button>
      </form>
    </div>

    <div *ngIf="isContactFormSubmitted">
      Thank you for reaching out! Your message has been successfully sent. I'll get back to you as soon as I can.
    </div>
  </div>
</section>
